<%= form_for (@location) do |form| %>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:
      </h2>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :department %><br>
    <%= form.text_field :department %>
  </p>

  <p>
    <%= form.label :latitude %><br>
    <%= form.text_field :latitude %>
  </p>

  <p>
    <%= form.label :longitude %><br>
    <%= form.text_field :longitude %>
  </p>

  <p>
    <%= form.label :elevation %><br>
    <%= form.text_field :altitude %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>