<h1>Weather Logger</h1>
<p>In this page you can follow the weather of any place you want, you only have to add a custom location, click update weather button and you will get the weather of the past 24 hours.</p>

<br>

<h2> Locations </h2>

<br>

<div class="table-responsive">
	<table class="table text-center table-bordered table-hover table-secondary table-striped text-dark">
		<thead class="thead-secondary">
			<tr>
				<th>Name</th>
				<th>City</th>
				<th>Department</th>
				<th>Geographic coordinates</th>
				<th>Elevation</th>
				<th colspan=2>Actions</th>
			</tr>
		</thead>

		<tbody>
			<% @locations.each do |loc| %>
				<tr>
					<td>
						<%= link_to loc.name.empty? ? loc.city : loc.name, location_path(loc)%>
					</td>
					<td><%= loc.city %></td>
					<td><%= loc.department %></td>
					<td><%= loc.latitude %>, <%= loc.longitude %></td>
					<td><%= loc.elevation %>m</td>
					<td><%= link_to 'Edit', edit_location_path(loc) %></td>
					<td><%= link_to 'Delete', location_path(loc),
							method: :delete,
							data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="pagination">
	<%= will_paginate @locations, previous_label: 'Previous', next_label: 'Next' %>
</div>

<div class="text-center">
	<%= link_to 'Add new location', new_location_path, class: "btn btn-info" %>
</div>