<% if @station.nil? %>
	<h1> <%= @location.name %> </h1>
<% else %>
	<h1> <%= @location.name %>, <%= @station.place %> </h1>
<% end %>


<strong>Department:</strong>
<p style= "display: inline;">
	<%= @location.department %>
</p>

<br>

<strong>Coordinates:</strong>
<p style= "display: inline;">
	<%= @location.latitude%>, <%=@location.longitude %>
</p>

<br>

<strong>Elevation:</strong>
<p style= "display: inline;">
	<%= @location.elevation %> m
</p>

<br>

<% unless @conditions.to_s == "-" %>
	<strong>Current Conditions:</strong>
	<p style= "display: inline;">
		<%= @conditions.round %> °C
	</p>
<% else %>
	<%= "Service unavailable" %>
<% end %>

<br>

<% unless @station.nil? %>
<%= link_to 'Display station info', station_path(@station)%>
<% end %>

<br>

<%= link_to 'Back', locations_path %>
<%= link_to 'Edit', edit_location_path %>
<%= link_to 'Delete', location_path(@location),
	method: :delete,
	data: { confirm: 'Are you sure?' } 
%>

<table>
	<tr>
		<th>Date</th>
		<th>Hour</th>
		<th>Temperature</th>
		<th>Humidity</th>
		<th>Weather</th>
		<th>Cloudiness</th>
	</tr>
	<% @past_24_hours.each do |record| %>
		<tr>
			<td><%= (record.time - 5.hours + 5.minutes).strftime("%Y/%m/%d") %></td>
			<td><%= (record.time - 5.hours + 5.minutes).strftime("%H:%M") %></td>
			<td><%= record.temperature.round %> °C </td>
			<td><%= record.humidity %>%</td>
			<td><%= record.conditions %></td>
			<td><%= record.cloud_cover %>%</td>
		</tr>
	<% end %>
</table>