<!DOCTYPE html>
<html>
  <head>
    <title>WeatherLogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<nav>
  			WeatherLogger
  		</nav>
  	</header>

    <%= yield %>

    <div class="footer">
    	<%= image_tag("AW_Stack_CMYK.jpg", alt: "Accuweather logo", class: "logo") %>	
    	<p style="display: inline;"> Weather data provided by AccuWeather </p>
    </div>

  </body>
</html>
