<!DOCTYPE html>
<html>
  <head>
    <title>WeatherLogger</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background bg-info">
    <nav class="navbar navbar-expand-sm bg-dark">
      <a class="navbar-brand" href="#">WeatherLogger</a>
    </nav>
    <div class="container main-container text-white">

      <%= yield %>

      <div class="footer">
      	<%= image_tag("AW_Stack_CMYK.png", alt: "Accuweather logo", class: "logo") %>	
      	<p style="display: inline;"> Weather data provided by AccuWeather </p>
      </div>
    </div>
  </body>
</html>
